@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    @if (IsSectionDefined("Title"))
    {
        @RenderSection("Title", required: false)
    }
    else
    {
        <title>@Localizer["Bug Tracking"]</title>
    }
    <partial name="Layout/_GlobalStyles" />
    <partial name="Layout/_Styles" />
    @RenderSection("Styles", required: false)
</head>
<body>
    <partial name="Layout/_Header" />
    <main role="main">
        @RenderBody()
    </main>
    <partial name="Layout/_Footer" />
    <partial name="Layout/_GlobalScripts" />
    @RenderSection("Scripts", required: false)
</body>
</html>
