@inject IStringLocalizer<Presentation.Views.Authentication.AuthenticationResources> AuthenticationLocalizer



<div id="registerVue" v-pre>
    <form class="d-flex flex-column align-items-center" v-on:submit.prevent="onSubmit">
        <img id="authLogo" class="m-4" src="~/img/Authentication/register_logo.png" />

        <input v-model="name" autocomplete="on"
               type="text" class="form-control m-3"
               placeholder="@AuthenticationLocalizer["Name"]" />

        <input v-model="email" autocomplete="on"
               type="email" class="form-control m-3"
               placeholder="@AuthenticationLocalizer["Email address"]" />

        <input v-model="password" autocomplete="on"
               type="password" class="form-control m-3"
               placeholder="@AuthenticationLocalizer["Password"]" />

        <input v-model="confirmPassword" v-bind:class="{ 'is-invalid': !isSamePassword }"
               type="password" class="form-control m-3" autocomplete="on"
               placeholder="@AuthenticationLocalizer["Confirm Password"]" />

        <button class="btn btn-primary m-3" type="submit">@AuthenticationLocalizer["Register"]</button>

        <div class="m-3">Error Message</div>
    </form>
</div>