@inject IHtmlLocalizer<SharedResources> SharedLocalizer
@inject IStringLocalizer<Presentation.Views.Authentication.SharedAuthentication> AuthenticationLocalizer

@section Title {
    <title>@SharedLocalizer["Bug Tracking"] - @AuthenticationLocalizer["Login"]</title>
}

<div id="loginVue">

    <partial name="_NavigationBar" />

    <div id="authContainer" class="container mt-5 shadow">
        <form class="d-flex flex-column align-items-center">
            <img id="authLogo" class="m-4" src="~/img/Authentication/login_logo.png" />

            <input v-model="loginViewModel.email"
                   type="email" class="form-control m-3"
                   placeholder="@AuthenticationLocalizer["Email address"]" />

            <input v-model="loginViewModel.password"
                   type="password" class="form-control m-3"
                   placeholder="@AuthenticationLocalizer["Password"]" />

            <button class="btn btn-primary m-3" type="submit">@AuthenticationLocalizer["Sign In"]</button>

            <div class="m-3">Error Message</div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Authentication/login.js"></script>
}